<h2>We played rock!</h2>

<% comp_move = ["rock", "paper", "scissors"].sample %>
<h2>
    They played <%= comp_move %>
</h2>

<% result =

if comp_move == "rock" then
    "lost"
elsif comp_move == "paper" then
    "won"
else
    "tied"
end
%>

<h2>We <%= result %>!</h2>

<a href="/">Rules</a>